.user-name {
  display: flex;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
}
.downIcon {
  font-size: 1.5rem;
  background-color: var(--text-color);
  color: var(--head-text-color);
  border-radius: 50%;
  cursor: pointer;
}
.down-arrow p {
  font-size: 16px;
  color: green;
  font-weight: 600;
}
.avator-work {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avator-work img {
  width: 40px;
  height: 40px;
}
