.page-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  /* justify-content: right; */
  align-items: center;
  width: 100%;
}

.page-button-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.page-button-section button {
  background-color: blueviolet;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.number-change {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  /* background-color: brown; */
  border-radius: 8px;
  color: black;
  cursor: pointer;
}
.number-change p {
  border: 1px solid red;
  padding: 0.5rem;
}
.active {
  background-color: azure;
  color: black;
}

.scroll {
  width: 30%;
  overflow-y: auto;
  overflow-wrap: break-word;
}
