.action-section {
  display: flex;
  gap: 1rem;
}
.action-section button {
  /* margin: 0.5rem; */
  padding: 5px 5px;
  border: 1px solid var(--table-backgroung-color);
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.userList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

