* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --table-backgroung-color:  gainsboro;
  --primary-bg-color: #171717;
  --secondary-bg-color: #1F1F1F;
  --text-color: #8B8B8B;
  --head-text-color: #FFFFFF;
  --tab-color: #F44464;
  --primary-bg2: #323232;
  --primary-text-color: #0080DC;
  --small-font-size: .75rem;
  --regular-font-size: 1rem;
  --new-small-font-size: .875rem;
  --btn-color: #11a489;
  --table-bg-th-color:#f6f6f6;
  --table-border-color:#eaecf0;
  --button-color:  #007bff;
  --button-hover-color: #0056b3;
  --reguler-font:20px;
  --table-heading:14px;
  --table-td-heading: 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.commissionContainer {
  width: 100%;
  background-color: var(--white-color);
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--border-color);
  padding: 1rem;
}

table {
  background-color: var(--white-color);
  border-collapse: collapse;
  overflow: hidden;
  position: relative;
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
  /* background-color: #0080DC; */
  margin-top: 1rem;
  width: 100%;
}

table tbody {
  width: 100%;
}

table thead tr {
  border-bottom: 1px solid var(--table-border-color);
  background-color: var(--table-bg-th-color);
}

table thead tr th {
  text-align: left;
  font-size: var(--table-heading);
  font-weight: 600;
  padding: 0.8rem 1rem 0.8rem 1rem;
  /* line-height: 18px; */
}

.table-header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  /* font-weight: 600; */
}

table tbody tr {
  border-bottom: 1px solid var(--table-border-color);
  cursor: pointer;

}
table tbody tr:hover{
  transition: .4s all linear;
  background-color:#66708520;
}
table tbody tr td {
  padding: 0.8rem 1rem 0.8rem 1rem;
  font-size: var(--table-td-heading);
  width: auto;
  color: var(--coloumn-text-color);
}

.header-width {
  width: calc(100% - 240px);
  flex-grow: 1;
 
  /* height: 100vh; */
  /* flex-grow: 1; */
}

.header-content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0.4rem 1.5rem 0.4rem 0.5rem;
  background-color: var(--white-color);
  /* position: sticky; */
  border-bottom: 1px solid var(--border-color ); 
  top: 0;
  z-index: 100;
}

.TableContainer {
  margin-top: 1rem;
  position: relative;
  height: 90vh;
  background: var(--white-color);
  /* border-radius: 16px; */
  /* overflow-y: hidden; */
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
}

.icon-action .tooltiptext {
  visibility: hidden;
  /* width: 100px; */
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: 3rem;
  font-size: 12px;
  font-weight: 800;
  /* Position the tooltip */
  position: absolute; 
  z-index: 1;
}
.mdDelete {
  color: white;
  font-size: 1.5rem;
}